html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Ubuntu',  Times, serif;

}

.grdiv{
    display: grid;
    grid-template-columns: 10vw 90vw;

}

a{
    color: white;
    text-decoration: none;
}

.sidebarstar{
    background: #007ec2;
    width: 6.5vw;
    height: 5vh;
    margin: 0.5em auto;
    /* margin-bottom: 0.5em; */
    text-align: center;
    border: solid 0.3em white ; 
    color: white;
}

.sidebarstar h3{
    position: absolute;
    top: -0.05em;
    left: 1.5em;
}

.sidebarlist{
    position: relative;
    left: -1em;
    margin: 3em auto;
    
}

.sidebar{
    position: fixed;
    width: 10vw;
    height: 100vh;
    background-color: #007ec2;
    /* background-color: rgb(56, 204, 245); */
    /* background-color: rgb(48, 193, 236); */
    /* background-color: rgb(167, 167, 167); */
    margin: 0 auto;
    font-family: 'Ubuntu',  Times, serif;



}

.sidebar ul {
    position: relative;
    margin-left: -1em;
    list-style: none;   
    text-align: center; 
    
}

.smain{
    width: 90vw;
    margin-left: 10vw;
 
}

.smain section{

    height: 100vh;
    position: relative;
    background-color: rgb(240, 240, 240);
}



.intro{
    height: 40vh;
    width: 50vw;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5em;

    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20vh 0 0 -25vw;

    box-shadow: 5px 5px  6px rgba(0, 0, 0, 0.774);
    font-family: 'Hind Siliguri', 'Arial Narrow', Arial, sans-serif;

    
}

.inttext{
    margin: 4em 4em;
}

.inttext h1{
    font-weight: 900;
    font-size: 2em;
    line-height: 1em;
}

.inttext h1 span{
    color: red;
}

.butt1{
    background-color: #007ec2;
    text-align: center;
    width: 7em;
    border-radius: 1em;
    color: white;
}

.profile1{
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    border: solid 0.3em white ;
    /* box-shadow: 5px 5px  6px rgba(0, 0, 0, 0.774); */
    position: relative;
    left: 33vw;
    top: -34vh;
   

}


.s-servic h3{
    position: relative;
    margin: 0 ;
    top: 2em;
    left: 25em;
    font-weight: 800;
    margin-bottom: 2em;
    
}

.sersubdiv{

    background-color: rgb(255, 255, 255);
    width: 20vw;
    height: 27vh;
    margin: 4vw;
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    /* line-height: 30vh; */
    border-radius: 1em;

    box-shadow: 5px 5px  6px rgba(0, 0, 0, 0.774);

}


.worsubdiv{

    background-color: rgb(255, 255, 255);
    width: 20vw;
    height: 27vh;
    margin: 4vw;
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    /* line-height: 30vh; */
    border-radius: 1em;

    box-shadow: 5px 5px  6px rgba(0, 0, 0, 0.774);
   overflow: hidden;

}

.s-work h3{
    position: relative;
    margin: 0 ;
    top: 2em;
    left: 25em;
    font-weight: 800;
    margin-bottom: 2em;
    
}


.manabodiv{
    position: relative;
    display: inline-block;
    
}

.aboutphoto{
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    border: solid 1em white ;
    box-shadow: 5px 5px  6px rgba(0, 0, 0, 0.774);
    position: absolute;
    left: 3em;
    top: 6em;
   

}

.aboutme{
    position: absolute;
    left: 27em;
    top: 5em;
    width: 55vw ;


}

.aboutme h4{
    line-height: 1.3em;
    /* display: flex;
    justify-content: flex-end; */
}

.con1sub{
    
    background-color: rgb(255, 255, 255);
    width: 20vw;
    height: 27vh;
    margin: 4.5vw;
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 5em;
    border-radius: 1em;

    box-shadow: 5px 5px  6px rgba(0, 0, 0, 0.774);
}


.msoffic{
    /* width: 10vw; */
    height: 13vh;

}

.videoediting{
    height: 16vh;
}

.blender{
    position: relative;
    top: 1em;
    height: 15vh;
}

#blenderdiv h4{
    position: relative;
    top: 0.7em;
}


.webdev{
    position: relative;
    top: 1.5em;
}
#webdevid h4{
    position: relative;
    top: 2.2em;
}

.msoffic{
    position: relative;
    top: 1.6em;
}

#msofficid h4{
    position: relative;
    top: 1.5em;
}

#github{
    position: relative;
    top: 0.3em;
}
#githubid h4{
    position: relative;
    top: 1.5em;
}

#game{
    position: relative;
    top: 0.2em;
}
#gameid h4{
    position: relative;
    top: 1.5em;
}

.cetsite{
    height: 8em;
    position: relative;
    left: -0.25em;
}

#cetsideid h4{
    position: relative;
    top: -1em;
}

.videoeditingad{
    height: 8em;
    position: relative;
    left: -0.25em;
}

#videoeditingadid h4{
    position: relative;
    top: -1em;
}

.blenderwork{
    height: 8.2em;
    width: 17em;
    position: relative;
    left: -0.25em;
}

#blenderworkid h4{
    position: relative;
    top: -1em;
}

.off{
    height: 8.1em;
    width: 17em;
}

#offid h4{
    position: relative;
    top: -1em;
}

.loginpage{
    height: 8em;
    position: relative;
    left: -0.25em;
}

#loginpageid h4{
    position: relative;
    top: -1em;
}

#underprogress h4{
    position: relative;
    top: 3em;
}


.faceimg{
    height:4.5em;
    transition: transform .2s;
}

.instaimg{
    border-radius: 50%;
    height: 4.5em;
    transition: 0.2s;
}

.githubimg{
    height: 4.3em;
    transition: 0.2s;
}


.linkdinimg{
    height: 4.3em;
    transition: 0.2s;
}

.hackerimg{
    height: 4.3em;
    transition: 0.2s;
}

.contact2{
    position: relative;
    top: 5em;
    left: 8em;
}

.face , .insta , .gitcontact , .linkdin , .hackerrank{
    margin: 4vw;
    display:inline-block;
    border-radius: 50%;
}

.faceimg:hover ,  .instaimg:hover , .githubimg:hover , .linkdinimg:hover , .hackerimg:hover {
    transform: scale(1.3);
}

.aboutme span{
    color: rgb(204, 33, 33);

}

